<footer>
    <div class="footer">
        <div class="aviso">
            <span class="material-symbols-outlined">payments</span>
            <h4 class="avisoItem">Elegí cómo pagar</h4>
            <p class="avisoItem">Podés pagar con tarjeta, débito, efectivo y otros.</p>
        </div>
        <div class="aviso">
            <span class="material-symbols-outlined">local_shipping</span>
            <h4 class="avisoItem">Envío gratis</h4>
            <p class="avisoItem">Envíos gratis en todas las compras mayores a $ 5000.</p>
        </div>
        <div class="aviso">
            <span class="material-symbols-outlined">security</span>
            <h4 class="avisoItem">Compra protegida</h4>
            <p class="avisoItem">Si un producto no era lo que esperabas, ¡Devolvelo!.</p>
        </div>
    </div>
    <div class="copyright">Copyright © 1999-2023 NailStore S.R.L</div>
</footer>