<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutUs.css">
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
		<section class="hero">
			<div class="container">
				<h2>Conocenos</h2>
				<p>Somos una empresa que proporciona servicios de alta calidad a nuestros clientes. Con años de experiencia y un equipo de expertos, nos hemos convertido en un socio confiable para empresas en varias industrias.</p>
			</div>
		</section>
		<section class="values">
			<div class="container">
				<h2>Nuestros Valores</h2>
				<div class="value">
					<h3>Calidad</h3>
					<p>Estamos comprometidos con entregar trabajos de alta calidad que cumplan y superen las expectativas de nuestros clientes.</p>
				</div>
				<div class="value">
					<h3>Integridad</h3>
					<p>Operamos con honestidad y transparencia en todo lo que hacemos, y siempre ponemos los intereses de nuestros clientes en primer lugar.</p>
				</div>
				<div class="value">
					<h3>Innovación</h3>
					<p>Nos mantenemos actualizados con las últimas tecnologías y tendencias, y siempre estamos buscando nuevas y mejores formas de servir a nuestros clientes.</p>
				</div>
			</div>
		</section>
		<section class="team">
			<div class="container">
				<h2>Nuestro equipo</h2>
				<div class="member">
					<h3>Agustin Rossaroli</h3>
					<p>Web Developer</p>
				</div>
				<div class="member">
					<h3>Sebastián Ramos</h3>
					<p>Web Developer</p>
				</div>
				<div class="member">
					<h3>Yhoxin Rossel</h3>
					<p>Web Developer</p>
				</div>
			</div>
		</section>
		<section class="testimonials">
			<div class="container">
				<h2>Testimonios</h2>
				<div class="testimonial">
					<p>"El nombre de la empresa ha sido un socio invaluable para nuestro negocio. Su experiencia y dedicación nos han ayudado a alcanzar nuestros objetivos y superar nuestras expectativas."</p>
					<p class="author">- John Smith, CEO of Nailstore</p>
				</div>
            </div>
        </section>
    </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>