<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesIndex.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce6a0d0b56.js" crossorigin="anonymous"></script>
    <title>Nail Store</title>
</head>
<body>
    <header>
        <div class="nav-bar-box">
            <div class="logo-box">
                <div class="logo">
                    LOGO
                </div>
            </div>
            <div class="search-box">
                <div class="text-search-box">
                    <input type="text" name="search" id="text-search" placeholder="Buscar">
                </div>
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="cart">
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main">
            <section class="product-section">
                <div class="product-box">
                    <div class="product-image">IMG</div>
                    <div class="product-description">
                        <div class="product-title">TITULO PRODUCTO 1</div>
                        <div class="product-prize">$20000</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">IMG</div>
                    <div class="product-description">
                        <div class="product-title">TITULO PRODUCTO 2</div>
                        <div class="product-prize">$20000</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">IMG</div>
                    <div class="product-description">
                        <div class="product-title">TITULO PRODUCTO 3</div>
                        <div class="product-prize">$20000</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">IMG</div>
                    <div class="product-description">
                        <div class="product-title">TITULO PRODUCTO 4</div>
                        <div class="product-prize">$20000</div>
                    </div>
                </div>
            </section>
            <div class="titles">
                <div class="title-views">
                    Productos relacionados a tu busqueda
                </div>
            </div>
            <section class="product-section-personal">
                <div class="product-box">
                    <div class="product-image">IMG</div>
                    <div class="product-description">
                        <div class="product-title">TITULO PRODUCTO X</div>
                        <div class="product-prize">$20000</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">IMG</div>
                    <div class="product-description">
                        <div class="product-title">TITULO PRODUCTO X</div>
                        <div class="product-prize">$20000</div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-image">IMG</div>
                    <div class="product-description">
                        <div class="product-title">TITULO PRODUCTO X</div>
                        <div class="product-prize">$20000</div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>