<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widthinici=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/producstyles.css">
    <title> Bienvenidos a NailStore </title>
     <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <header class="main-header">
        <div class="main-topbar">
            <div class="main-topbar-mobile">
         <nav class="main-searchbar">
                    <form action="/search-product" method="POST" class="searchbar" >
                    <input type="text" id="search" placeholder="Buscar productos, marcas..." class="input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </form>                    
    <div class="burger-menu">
       <i class="fas fa-bars"></i>            
        </div>      

    </header>
         <main> 
                    <img src="images/img2.jpg" alt="" width="500" height="250"> 
                    <div class="box-article"></div>
                            <p class="precio">$10.000</p>                       
                        <h3 class="descripcion">Polygel 50ml</h3>
                    </div>
             
    <h4 class="descripcion">Descripcion</h4>
    <p> Es polygel es una fórmula de construcción de uñas que podría considerarse un sistema híbrido, 
       ya que tiene lo mejor del acrílico en lo que a resistencia y durabilidad se refiere y
      los sistemas de gel. El resultado, unas uñas más fuertes y por tanto menos quebradizas,
      pero a la vez ligeras y duraderas.</p>

    </main> 
    </body>


</html>