* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Roboto", sans-serif;
    background-image: url("/images/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    display: flex;
    justify-content: center;
}
.back{
    display: flex;
    align-items: center;
}
.articulo {
    display: flex;
    height: 80%;
    width: 70%;
    background-color: #FFEBEE;
    margin: 30px;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    border-radius: 50px;
    padding: 20px;
}
.img {
    max-width: 400px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#input {
    width: 100%;
}
p {
    max-width: 300px;
}
.precio {
    font-size: 40px;
    margin-bottom: 30px;
}
.form {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
#imagen {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.data{
    width: 50%;
}
.item {
    margin-left: 20px;
    margin-bottom: 15px;
}
.input {
    border: 2px solid #f7c5cd;
    border-radius: 5px;
    padding: 8px;
    background-color: #fdf2f4;
    color: #a28d8f;
    font-size: 16px;
    display: block;
}
.input:focus {
    outline: none;
    border-color: #f1959b;
    box-shadow: 0 0 5px #f1959b;
}
#desc {
    height: 68px;
}
#id {
    background-color: #FFEBEE;
    font-size: x-large;
    display: inline;
    font-weight: bold;
}
#id input {
    border: none;
    display: inline;
    font-weight: bold;
    font-size: 17px;
    width: 25px;
    text-align: center;
}
.boton {
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
    width: fit-content;
    padding: 7px;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    background-image: linear-gradient(rgba(255, 192, 203, 0.5), rgba(255, 192, 203, 0.5));
    border-color: #FFEBEE;
    letter-spacing: 1px;
}
label {
    font-weight: bold;
}
#botton {
    height: 30px;
    width: fit-content;
    padding: 7px;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    background-image: linear-gradient(rgba(255, 192, 203, 0.5), rgba(255, 192, 203, 0.5));
    border-color: #FFEBEE;
    letter-spacing: 1px;
}
.contenedor {
    display: flex;
    align-items: center;
    width: 30px;
    height: 200px;
    background-color: #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(6, 6, 4, 0.3);
    background-color: #FFEBEE;
}
.flecha {
    transform: translateY(-50%);
    width: 60%;
    height: 22px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
}
small{
    color: red;
}
@media(max-width: 768px){
    .back{
        display: none;
    }
    .form{
        width: 90%;
        flex-direction: column;
    }
    #imagen{
        width: 100%;
    }
    .data{
        width: 100%;
    }
    .articulo{
        justify-content: center;
    }
}
@media(max-width: 461px){
    .articulo{
        width: 90%;
        margin: 10px;
    }
    .data{
        width: 100%;
    }
    #imagen{
        width: 90%;
    }
    .form{
        align-items: center;
    }
    .back{
        display: none;
    }
}