* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}
.section-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-color: #FFF;
    height: 80vh;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    border-radius: 100px;
}
img {
    height: 100%;
}
.login-image{
    width: 100%;
    height: 100%;
}
.form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 80%;
    margin-left: 5rem;
}
.titles-box{
    letter-spacing: 2.3px;
    position: relative;
    left: 30px;
    display: block;
    margin-top: 10px;
}
.input{
    width: 22rem;
    height: 1px;
    max-width: 380px;
    margin-bottom: 15px;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 8px;
    padding: 23px 20px;
    position: relative;
    left: 30px;
    margin-right: 60px;
    box-sizing: border-box;
}
input:focus{
    outline: none;
}
a{
    text-decoration: none;
}
#password{
    background-color: #FFF;
    color: #F8BBD0;
    border: 2px solid #F8BBD0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#register{
    background-color: #FFF;
    color: #F8BBD0;
    border: 2px solid #F8BBD0;
    padding: 10px 20px;
    border-radius: 5px;
}
.ayuda {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-top: 10px;
    margin-left: 30px;
}
.titles {
    font-size: x-large;
    letter-spacing: 3px;
}
.boton {
    background-color: #F8BBD0;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30px;

}
  .input:focus {
    border: 1px solid #F8BBD0;
  }
  .boton:hover {
    background-color: #ee6e9b;
  }
  #password:hover {
    color: #ee6e9b;
    border-color: #ee6e9b;
  }
  #register:hover {
    color: #ee6e9b;
    border-color: #ee6e9b;
  }