* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}
.section-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-color: #FFF;
    height: 80vh;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    border-radius: 100px;
}
img {
    height: 100%;
}
.login-image{
    width: 50%;
    height: 100%;
}
.form-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 40px;
}
.titles-box{
    letter-spacing: 2.3px;
    display: block;
    margin: 5px 5px 5px 0px;
}
.input-box{
    width: 75%;
    min-width: 240px;
    border: solid black 1px;

}
.input{
    width: 100%;
    padding: 10px;
    border: none;
}
input:focus{
    outline: none;
}
a{
    text-decoration: none;
}
#password{
    background-color: #FFF;
    color: #F8BBD0;
    border: 2px solid #F8BBD0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#register{
    background-color: #FFF;
    color: #F8BBD0;
    border: 2px solid #F8BBD0;
    padding: 10px 20px;
    border-radius: 5px;
}
.ayuda {
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.titles {
    font-size: x-large;
    letter-spacing: 3px;
}
.boton {
    background-color: #F8BBD0;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px 10px 0px;
}
  .input:focus {
    border: 1px solid #F8BBD0;
  }
  .boton:hover {
    background-color: #ee6e9b;
  }
  #password:hover {
    color: #ee6e9b;
    border-color: #ee6e9b;
  }
  #register:hover {
    color: #ee6e9b;
    border-color: #ee6e9b;
  }
  small{
    color: red;
  }
  @media(max-width: 768px){
    .login-image{
        display: none;
    }
    .form-box{
        width: 100%;
    }
    .input-box{
        width: 80%;
    }
  }
  @media(max-width: 461px){
    .section-box{
        margin: 25px;
    }
    form{
        width: 80%;
        margin: 0px;
    }
  }