* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main-searchbar{
    flex-grow: 25;
    text-align: center;
   
}

.searchbar{    
    display: block;
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    width: 20%;
    padding: 10px;
    margin: auto;
    border-radius: 12px;
}

.box-article{
    padding: 15px;
    position: center;
    
}
main{
    width: 50%;
    margin:auto;
    margin-top: 20px;
}
p{
text-justify: distribute;
}
h4{
text-decoration: underline;
}