* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    font-family: 'Aboreto', cursive;
    font-size: 30px;
    margin: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.create-buton {
    font-family: 'Aboreto', cursive;
    border: solid 1px black;
    font-size: 13px;
    font-weight: bolder;
    padding: 5px;
    position: relative;
    left: 46%;
    bottom: 10px;
    background-color: aliceblue;
}

.articulo {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 90%;
    margin-left: 40px;
    background-color: #FFEBEE;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    border-radius: 100px;
    padding: 20px;
    padding-top: 0;
}

#img-product {
    height: 200px !important;
    width: 220px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imgBox {
    margin-top: 30px;
    margin-left: 100px;
}

.edits {
    margin-left: 40px;
    width: 20%;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    max-width: 300px;
}

.precio {
    font-size: 30px;
    margin-bottom: 15px;
}

h5 {
    font-size: large;
    display: inline;
}

.h4 {
    font-size: large;
}

.descripcion {
    font-size: small;
}

.p {
    display: inline;
    font-size: 16px;
}

.categoria {
    margin-top: 25px;
}

.editar {
    background-color: bisque;
    border: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    height: 230px;
    width: 100px;
    margin-right: 5px;
}

.borrar {
    background-color: bisque;
    border: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    height: 230px;
    width: 100px;
    margin-left: 5px;
}

.admin {
    display: flex;
}

.borrarText {
    border: none;
    background: none;
    margin-top: 3px;
    color: brown;
}

.editText {
    margin-top: 140%;
    font-weight: bold;
}

.editar:active {
    background-color:antiquewhite;
}

@media (max-width: 1011px) {
    
}