*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.form{
    width: 40%;
    height: 100%;
    background-color: #FFF0F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.main-title{
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    font-weight: bolder;
    margin: 5px;
    margin-top: 15px;
}
.div-box{
    width: 57%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-title{
    font-family: 'Aboreto', cursive;
    font-size: 14px;
    margin: 3px;
}
input{
    padding: 5px;
    width: 100%;
    border: none;
    background-color: #FFF0F5;
}
input:focus{
    outline: none;
}
textarea{
    padding: 5px;
    width: 100%;
    border: none;
    background-color: #FFF0F5;
}
textarea:focus{
    outline: none;
}
.div-input{
    border: solid 1px black;
    width: 90%;
    display: flex;
    justify-content: center;
}
.div-input-check{
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
small{
    color: red;
}
.buton-box{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 5px gray;
}
#boton {
    padding: 7px;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    background-image: linear-gradient(rgba(255, 192, 203, 0.5), rgba(255, 192, 203, 0.5));
    border-color: black;
    letter-spacing: 1px;
    margin: 5px;
}