* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-title {
    font-family: 'Aboreto', cursive;
    font-size: 30px;
    margin: 30px;
    text-align: center;
    letter-spacing: 1px;
}
.create-buton {
    width: 172px;
    font-family: 'Aboreto', cursive;
    border: solid 1px black;
    font-size: 13px;
    font-weight: bolder;
    padding: 5px;
    background-color: aliceblue;
}

.arriba {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
    background-color: #FFEBEE;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    border-radius: 50px;
    padding: 20px;
    width: 90%;
}
#img-product {
    width: 100% !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imgBox {
    width: 25%;
    margin: 20px;
}

.edits {
    width: 40%;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    max-width: 300px;
}

.precio {
    font-size: 30px;
    margin-bottom: 15px;
}

h5 {
    font-size: large;
    display: inline;
}

.h4 {
    font-size: large;
}

.descripcion {
    font-size: small;
}

.p {
    display: inline;
    font-size: 16px;
}

.categoria {
    margin-top: 25px;
}

.editar {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: none;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    height: 40px;
    width: 100%;
}

.borrar {
    background-color: bisque;
    border: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.5);
    height: 40px;
    width: 100%;
}

.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.borrarText {
    border: none;
    background: none;
    margin-top: 3px;
    color: brown;
}

.editText {
    font-weight: bold;
    margin-top: 7px;
}

.editar:active {
    background-color:antiquewhite;
}
@media(max-width: 768px){
    .admin{
        flex-direction: row;
        width: 50%;
    }
    .imgBox{
        width: 45%;
    }
}
@media(max-width: 461px){
    .articulo{
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
    .imgBox{
        width: 90%;
        margin: 20px;
    }
    .edits{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .descripcion{
        margin: auto;
    }
    .admin{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}