<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesLogin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <%- include('../partials/head.ejs') %>
    <title>Ingresa</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main><div class="main">
        <div class="section-box">
            <div class="login-image">
                <img src="/images/Logo.png" alt="No responde">
            </div>
            <div class="form-box">
                <form action="/home">
                    <div class="logo-box">
                        <div class="logo">Nail Store</div>
                    </div>
                    <div class="titles-box">
                        <div class="titles">
                            Usuario
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input" placeholder="Usuario">
                    </div>
                    <div class="titles-box">
                        <div class="titles">
                            Contraseña
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input" placeholder="Contraseña">
                    </div>
                    <div class="submit-box">
                        <div class="submit-botom">
                            <input type="submit" class="input" id="send-botom" value="Ingresar">
                        </div>
                        <a href="/password" id="password">Olvidaste tu contraseña?</a>
                    </div>
                    <a href="/register" id="register">Crea tu Cuenta</a>
                </form>
            </div>
        </div>
    </div></main>
    <footer></footer>
</body>
</html>