<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/login.css" rel="stylesheet" />
    <%- include('../partials/head.ejs') %>
        <title>Ingresá</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <main>
            <div class="main">
                <div class="section-box">
                    <div class="login-image">
                        <img src="/images/Logo.jpg" alt="No responde" />
                    </div>
                    <div class="form-box">
                        <form action="/login" method="post">
                            <div class="titles-box">
                                <div class="titles">Email</div>
                            </div>
                            <div>
                                <input type="text" class="input" name="email" placeholder="Correo electrónico" />
                                <%if (error && error.email) {%>
                                    <p>Email invalido</p>
                                    <%}%>
                            </div>
                            <div class="titles-box">
                                <div class="titles">Contraseña</div>
                            </div>
                            <div>
                                <input type="password" class="input" name="contrasena" placeholder="Contraseña" />
                               <%if (error && error.password) {%>
                                <p>Verifique la contraseña</p>
                                <%}%>
                            </div>
                            <div>
                                <div class="submit-botom">
                                    <button type="submit" class="boton" id="send-botom">Ingresar</button>
                                </div>
                            </div>
                            <div class="ayuda">
                            <a href="/password" id="password">¿Olvidaste tu contraseña?</a>
                            <a href="/signUp" id="register">Creá tu Cuenta</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %> 
</body>

</html>