<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/resetPasswordStyles.css" rel="stylesheet" />
    <%- include('../partials/head.ejs') %>
    <title>Restablecer contrase単a</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <form action="" class="passwordForm">
            <div class="title">
                Restablecer Contrase単a
            </div>
            <div class="input-box">
                <label for="" class="input-title">Ingrese un email</label>
                <div class="input">
                    <input type="email" name="" id="">
                </div>
            </div>
            <div class="input-box">
                <label for="" class="input-title">Ingrese una nueva contrase単a</label>
                <div class="input">
                    <input type="password" name="" id="">
                </div>
            </div>
            <div class="input-box">
                <label for="" class="input-title">Repetir contrase単a</label>
                <div class="input">
                    <input type="password" name="" id="">
                </div>
            </div>
            <button type="submit" class="btn">Aceptar</button>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>